body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8fc;
    overflow-x: hidden;
}


* {
    padding: 0px;
    margin: 0px;
}
textarea {
    min-height: 400px;
}


#emails-view {
    flex-direction: column;
    padding-top: 20px;
}

.timestamp {
    color: gray;
}

.btn {
    border-radius: 0px;
}

