{% extends "mail/layout.html" %}
{% load static %}


{% block links %}
<link rel="stylesheet" href="{% static 'mail/inbox.css' %}">
{% endblock %}

{% block body %}
<nav class="nav row h-30">
    <div class="nav-left">
        <div class="close-icon">
            <a class="close-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
            </a>
        </div>
        <div class="logo">
            <img src="{% static 'img/gmail_signin_logo.png'%}" alt="">
        </div>
    </div>
    <div class="search-and-profile">
        <div class="search-bar">
            <div class="search-icon-div">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
            </div>
            <div class="text-container">
                <input type="text" placeholder="Search" id="">
            </div>
        </div>
        <div class="profile">
            <div class="profile-container dropdown">
                <div class="avatar-wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="user-avatar">
                        {{ request.user.email|first|upper }}
                    </div>
                </div>
                <div class="dropdown-menu profile-dropdown-menu dropdown-menu-right">
                    <div class="user-info-card">
                        <div class="user-avatar-large">
                            {{ request.user.email|first|upper }}
                        </div>
                        <div class="user-details">
                            <div class="user-name">{{ request.user.email }}</div>
                            <a href="{% url 'logout' %}" class="sign-out-button">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>
<div class="d-flex h-70">
    <aside class="side-bar">
        <ul>
            <li class="active">
                <a id="inbox">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-120H640q-30 38-71.5 59T480-240q-47 0-88.5-21T320-320H200v120Zm280-120q38 0 69-22t43-58h168v-360H200v360h168q12 36 43 58t69 22ZM200-200h560-560Z"/></svg>
                    <span>Inbox</span>
                </a>
            </li>
            <li>
                <a id="compose">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                    <span>Compose</span>
                </a>
            </li>
            <li>
                <a id="sent">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
                    <span>Sent</span>
                </a>
            </li>
            <li>
                <a id="archived">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m480-240 160-160-56-56-64 64v-168h-80v168l-64-64-56 56 160 160ZM200-640v440h560v-440H200Zm0 520q-33 0-56.5-23.5T120-200v-499q0-14 4.5-27t13.5-24l50-61q11-14 27.5-21.5T250-840h460q18 0 34.5 7.5T772-811l50 61q9 11 13.5 24t4.5 27v499q0 33-23.5 56.5T760-120H200Zm16-600h528l-34-40H250l-34 40Zm264 300Z"/></svg>
                    <span>Archive</span>
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
                    <span>Sign Out</span>
                </a>
            </li>
            
        </ul>
    </aside>
    <div class="view mt-3">
        <div id="message">
        </div>
        <div id="emails-view">
        </div>
    
        <div id="compose-view">
            <form id="compose-form">
                <div class="form-group">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}